footer {
  height: 6rem;
  background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  margin-top: auto;
  width: 100%;
  justify-content: space-evenly;
}

.footer-film,
.footer-heart,
.footer-account {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-film {
  border-right: black 1px solid;
}
.footer-account {
  border-left: black 1px solid;
}
.footer-heart {
  border-left: black 1px solid;
  border-right: black 1px solid;
}

.footer-film:hover,
.footer-account:hover,
.footer-heart:hover {
  cursor: pointer;
}

@media (width < 750px) {
  footer {
    height: 5rem;
  }
}

@media (width < 500px) {
  footer {
    height: 4.5rem;
  }
}

@media (width < 450px) {
  .footer-film > img,
  .footer-heart > img,
  .footer-account > img {
    height: 1.3rem;
  }
}

@media (width < 400px) {
  footer {
    height: 4rem;
  }
}
