.home-section {
  display: flex;
  padding: 0 3rem;
  p {
    padding: 0 0 0.5rem 2rem;
  }
}

.home-image-container {
  height: calc(100vh - 11rem);
  position: relative;
}

.home-image {
  height: 100%;
  z-index: 1;
}

.home-button {
  background-color: #1e1e1e;
  position: absolute;
  z-index: 2;
  height: 4rem;
  border: none;
  bottom: 2.5rem;
}

.x-button {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  left: 4rem;
  img {
    height: 2.8rem;
  }
}

.heart-button {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  right: 4rem;
  img {
    height: 2.3rem;
  }
}

.sceneit-button {
  border-radius: 19px;
  color: white;
  width: 10rem;
  font-size: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 3rem;
  color: white;
  width: 100%;
}

.home-title {
  text-align: center;
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.home-sub-headings {
  font-size: 2rem;
}

.home-ratings {
  display: flex;
  padding-left: 2rem;
  font-size: 1.2rem;
  p {
    padding: 0 0 0 1rem;
    font-size: 1rem;
    margin-top: 2px;
  }
}

.home-fallback-section {
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  align-items: center;
}

.home-fallback-text {
  width: 100%;
  text-align: center;
  color: white;
  padding: 3rem 0;
}

.home-reset-filters-button {
  padding: 0.5rem 1.5rem;
  background-color: #1e1e1e;
  color: white;
  border: white 2px solid;
  border-radius: 50px;
  font-size: 1.4rem;
}

.home-reset-filters-button:hover {
  background-color: lightgray;
  color: #1e1e1e;
  border: #1e1e1e 2px solid;
}

@media (height < 840px) {
  .x-button {
    left: 3rem;
  }
  .heart-button {
    right: 3rem;
  }
}

@media (height < 770px) {
  .x-button {
    left: 2rem;
  }
  .heart-button {
    right: 2rem;
  }
}

@media (height < 710px) {
  .x-button {
    left: 1rem;
  }
  .heart-button {
    right: 1rem;
  }
}

@media (width < 963px) {
  .home-section {
    padding: 0 2rem 0 0;
  }
}

@media (width < 963px) {
  .home-title {
    font-size: 2.3rem;
    padding-bottom: 1.5rem;
  }
  .home-sub-headings {
    font-size: 1.5rem;
  }
  .home-section {
    p {
      font-size: 0.9rem;
      padding: 0 0 0.5rem 1rem;
    }
  }
}

@media (width < 700px) {
  .home-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .home-content-container {
    padding: 1rem 2rem;
    height: calc(100vh - 11rem);
  }
}

@media (width < 428px) {
}
