.listMovie-acticle {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.listMovie-poster-ul-wrapper {
  display: flex;
}

.listMovie-poster {
  height: 12rem;
}

.listMovie-ul {
  list-style: none;
}

.listMovie-span {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.listMovie-h3 {
  font-weight: bold;
  letter-spacing: 1px;
}

.listmovies-buttons-div-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.listMovie-buttons-div {
  padding: 0 2rem 0 3rem;
  align-self: center;
  min-width: 10rem;
}

.listMovie-active-buttons-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listMovie-buttons {
  color: white;
  border: none;
  background-color: transparent;
  padding-top: 0.3rem;
  font-size: 1rem;
  line-height: 0.8rem;
}

.listMovies-trashcan {
  border: none;
  background-color: transparent;
  align-self: center;
}

@media (width < 855px) {
  .listMovie-summary {
    display: none;
  }
  .listMovie-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
  }
}

@media (width < 650px) {
  .listMovie-buttons-div {
    padding: 0 1rem;
    min-width: 7rem;
  }
  .listmovies-buttons-div-wrapper {
    width: 7rem;
  }
}

@media (width <600px) {
  .listMovie-acticle {
    flex-direction: column;
  }
  .listmovies-buttons-div-wrapper {
    flex-direction: row;
    width: 100%;
    gap: 0;
    justify-content: center;
    padding-top: 0.5rem;
  }
  .listMovie-buttons-div {
    padding: 0 1rem;
    display: flex;
  }
  .listMovie-active-buttons-div {
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
  }
  .listMovies-trashcan {
    height: 1.5rem;
  }
}

@media (width < 480px) {
  .listMovie-ul {
    display: none;
  }
  .listMovie-acticle {
    flex-direction: row;
  }
  .listmovies-buttons-div-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .listMovie-buttons-div {
    padding: 0 2rem 0 3rem;
    align-self: center;
    min-width: 10rem;
    flex-direction: column;
  }
  .listMovie-active-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

@media (width < 330px) {
  .listMovie-acticle {
    padding: 0 1rem 1rem 1rem;
  }
}
